html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: 'Hind', sans-serif;
}

img {
    vertical-align: middle;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/****************************/

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.underlined:after {
    content: "";
    display: block;
    width: 80px;
    height: 0;
    margin: 27px auto;
    border-bottom: 1px solid #a1a1a1;
}

/**** Clearfix ****/

header:after,
section:after,
.image-slider:after,
.service-wrapper:after {
    content: "";
    display: block;
    clear: both;
}

/**** Buttons ****/

.button {
    max-width: 122px;
    background: #00a1eb;
    border-radius: 5px;
    color: #fff;
    padding: 12px 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.image-button {
    background: #fff;
    color: #00a1eb;
}

.button-center {
    margin: 0 auto;
}

.button-right {
    margin-left: auto;
}

/**** Titles ****/

.title, .subtitle {
    font-family: 'Montserrat', sans-serif;
    color: #00a1eb;
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    font-size: 34px;
}

.subtitle {
    font-size: 22px;
}

.title-center {
    text-align: center;
}

.title-right {
    text-align: right;
}

/**** Texts ****/

.text {
    font-size: 14px;
    line-height: 1.5;
    color: #737373;
}

.image-text {
    color: #fff;
}

.text-grey {
    color: #737373;
}

.image-text.underlined:after {
    border-bottom-color: #fff;
}

.text-center {
    text-align: center;
    margin: 0 auto;
}

.text-right {
    text-align: right;
}

/**** Main ****/

header {
    margin-top: 32px;
}

#logo {
    background: url('../images/logo.png') no-repeat;
    background-size: 100%;
    width: 250px;
    height: 38px;
    float: left;
    text-indent: -10000px;
}

.header-nav {
    float: right;
    height: 38px;
}

.header-nav li {
    list-style: none;
    display: inline-block;
    margin-right: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.header-nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

#banner {
    max-height: 600px;
    overflow: hidden;
    position: relative;
    top: -70px;
    z-index: -1;
}

#banner img {
    width: 100%;
}

.banner-overlay {
    position: absolute;
    top: 46%;
    width: 100%;
    text-align: center;
}

.banner-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 12px;
}

.banner-subtitle {
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
    letter-spacing: 4px;
}

#about-us {
    margin-top: 60px;
}

.about-text, .about-image {
    float: left;
}

.about-text {
    width: 570px;
}

.about-text p {
    max-width: 470px;
    width: 100%;
}

.about-text h3 {
    margin: 22px 0;
}

.about-image {
    width: 600px;
    max-width: 100%;
    position: relative;
}

.about-image h3 {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.about-image img {
    width: 100%;
}

#assortment {
    margin-top: 180px;
}

#assortment p {
    width: 630px;
    max-width: 100%;
}

#assortment .button {
    margin-top: 57px;
}

.image-slider {
    position: relative;
    margin-top: 50px;
}


.image-slider li {
    list-style-type: none;
    float: left;
    position: relative;
}

.image-slider li:not(:last-child) {
    margin-right: 30px;
}

.image-slider li span {
    position: absolute;
    top: 120px;
    width: 100%;
    text-align: center;
}

.image-slider li .subtitle {
    font-size: 20px;
}

.price {
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    font-size: 24px;
}

.control {
    position: absolute;
    top: 115px;
}

.to-left {
    left: -49px;
}

.to-right {
    right: -49px;
}

#services {
    margin-top: 186px;
}

#services .button {
    margin-top: 68px;
}

.service {
    float: left;
    width: 370px;
}

.service:not(:last-child) {
    margin-right: 30px;
}

.service h3 {
    margin-top: 40px;
}

.service-icon {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    background: #00a1eb;
    border-radius: 50%;
}

.service-icon img {
    margin: 25px;
}

#contact {
    margin-top: 92px;
    position: relative;
}

#contact p {
    max-width: 490px;
}

#contact h2:after {
    margin-left: auto;
    margin-right: 0;
}

.contact-wrapper {
    width: 100%;
    position: absolute;
    top: 138px;
}

.contact-info {
    float: right;
}

.contact-info .button {
    margin-top: 38px;
}

.map-overlay {
    position: relative;
    width: 100%;
    height: 534px;
    background: #00a1eb;
    z-index: -1;
}

.map {
    position: absolute;
    background: url('../images/map.png') no-repeat;
    width: 100%;
    height: 100%;
    opacity: .5;
}

#footer-nav {
    margin-top: 62px;
    line-height: 27px;
}

#footer-nav a {
    color: #737373;
    text-decoration: none;
}

#footer-nav h3 {
    margin-bottom: 32px;
}

.nav-section {
    float: left;
    width: 270px;
}

.nav-section:not(:last-child) {
    margin-right: 30px;
}

footer {
    background: #2b2b2b;
    margin-top: 75px;
    height: 121px;
    line-height: 121px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

footer .text-left {
    float: left;
}

footer .text-right {
    float: right;
}

/**** Responsive ****/

@media only screen and (max-width: 1285px) {
    .control {
        background: #fff;
        border-radius: 50%;
        top: 44%;
    }

    .to-left {
        left: 8px;
    }

    .to-right {
        right: 8px;
    }
}

@media only screen and (max-width: 1264px) {
    .contact-info {
        margin-right: 38px;
    }
}

@media only screen and (min-width: 1187px) {
    #about-us h2:after {
        margin-left: 0;
    }
}

@media only screen and (max-width: 1187px) {
    #about-us {
        margin-top: 0;
        text-align: center;
    }

    .about-text, .about-image {
        float: none;
    }

    .about-text {
        margin-bottom: 22px;
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .about-text p {
        max-width: 100%;
    }

    .about-text .button, .about-image {
        margin-left: auto;
        margin-right: auto;
    }

    #assortment {
        margin-top: 90px;
    }

    .image-slider {
        width: 570px;
        margin-left: auto;
        margin-right: auto;
    }

    .image-slider li {
        margin-bottom: 30px;
    }

    .image-slider li:nth-child(2n) {
        margin-right: 0;
    }

    .image-slider li img {
        width: 100%;
    }

    .control {
        top: 265px;
    }

    #services {
        margin-top: 93px;
    }

    .service {
        width: 100%;
        margin-bottom: 40px;
    }

    .service p {
        max-width: 600px;
    }

    .nav-section {
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 32px;
    }
}

@media only screen and (max-width: 897px) {
    #logo, .header-nav {
        float: none;
        margin: auto;
        text-align: center;
    }

    #banner {
        top: -120px;
    }

    .banner-overlay {
        top: 62.5%;
    }

    .banner-title {
        font-size: 40px;
        letter-spacing: 6px;
    }

    .banner-subtitle {
        font-size: 17px;
        margin-top: 15px;
        letter-spacing: 3px;
    }
}

@media only screen and (max-width: 587px) {
    .image-slider {
        width: 100%;
    }

    .image-slider li {
        width: 47%;
        margin-bottom: 6%;
    }

    .image-slider li:nth-child(2n + 1) {
        margin-right: 6%;
    }

    .control {
        width: 7.2%;
        top: 43.7%;
    }
}